<div class="container" style="height: 60vh;">
  <div class="container" style="height: 60vh;">
    
  </div>
  
  <div class="right-column">
    <div class="messages-container">
      <div *ngFor="let message of messages" [class.user-message]="message.from === 'user'" [class.ai-message]="message.from === 'ai'">
        {{ message.content }}
      </div>
    </div>
    <div class="input-container">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Ask Your Query here" [(ngModel)]="userMessage" (keyup.enter)="sendMessage(userMessage)">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" (click)="sendMessage(userMessage)">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
