<p>document-manager works!</p>

<div class="container">
    <div class="left-column">
      <!-- Your content for the 30% width section goes here -->
    </div>
    <div class="right-column">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Type your message here" [(ngModel)]="userMessage" (keyup.enter)="sendMessage(userMessage)">
            <div class="input-group-append">
              
              <button class="btn btn-primary" type="button" (click)="sendMessage(userMessage)">Send</button>
            </div>
        </div>
    </div>
  </div>